extends layout

block content
  h1= title
  p.well Welcome to #{title}
  p No es necesario subir "node_modules". Heroku los implementa directamente !!
  p Afegit bower_components (amb un bootstrap per testejar). heroku SI neccessita tenir bower_components en GIT
